.Popup{
    position: fixed;
    width: 100%;
    height: 100%;
    top :0;
    left :0;
    right :0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0,0.8 );

}
.Popup-Inner{
 max-width: 50%;
 background-color: white;
 box-sizing: border-box;
 padding: 1px;
 color: #fff;
 margin-top: 250px;
 margin-left: 30%;
 margin-right: 20%;

}
.text2{
    text-align: center;
    text-decoration: underline;
    color: mediumblue;
    font-size: 150%;
}
.close{
    display: inline;
    float: right;
    padding: 2%;
    margin: 0%;
    border: 1px solid red;
    cursor: pointer;
    color: white;
    background-color: rgba(245, 39, 56, 0.4);
    transition: 0.5s;
}
.close:hover{
    background-color: rgb(228, 44, 44);
    opacity:1;

}
.tick{
    color: green;
    font-size: 50px;
    border-radius: 50%;
    border: 5px double darkgreen;
}